{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'ecom_app/css/includes/header.css' %}">
    <link rel="stylesheet" href="{% static 'ecom_app/css/index.css' %}">
{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
    
    {% include "./includes/header.html" %}

    <div class="category-container" >
        {% for category in categories %}
            {% include "./includes/category-item.html" %}
        {% endfor %}
    </div>
{% endblock %}